---
import Card from '/Users/jenn.junod/Desktop/Code/website/src/components/generic/Card.astro';
import { Image } from '@astrojs/image/components';

const src =
'https://user-images.githubusercontent.com/77285384/224505131-b3c77b25-509d-4e3a-a3d3-928841b686db.png';

---
<Card color='orange' extraClasses='col-span-4'>
    <div
class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
>
<div class='rounded-lg border-3 border-black my-4 h-100'>
    <Image
    src={src}
    alt={'giant hippo'}
    width={500}
    height={500}
    class='rounded h-full w-full object-cover'
    />
</div>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
    Who is Jenn Junod?
    </h2>
    <p class='poppins'>
    ✨Hello beautifu human! It’s lovely to meet you!✨</p>
    <p>I am a developer advocate, international speaker and MC, podcast host, and live streamer.
    As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting Sh!t You Don't Want to Talk About Podcast, or being a Developcado (Developer Advocate).
    </p>
    </div>
</Card>


