---
import Layout from '../layouts/Default.astro';
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import Card from '../components/generic/Card.astro';
import Button from '../components/generic/Button.astro';
import TagItem from '../components/blog/TagItem.astro';
import { Image } from '@astrojs/image/components';
import Photo from '../components/cards/photo.astro'
import Name from '../components/cards/name.astro'
import Bio from '../components/cards/bio.astro'
import Test from '../components/cards/boilerplate.astro'
import Aiven from '../components/cards/aiven.astro'
import Podcast from '../components/cards/podcast.astro'
import Livestream from '../components/cards/livestream.astro'



const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  { name: 'Content Collections', url: 'https://docs.astro.build/en/guides/content-collections/' },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  { name: 'Sitemap', url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/' },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];

---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-#0b2402 p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-12 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>

      <Photo />
      <Name />
      <Bio />
      <Livestream />
      <Podcast />
      <Aiven />
      

    </section>
    <!-- <RecentBlogPosts /> -->
  </main>
</Layout>
